body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 14px/24px -apple-system, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#map {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

#filters {
  background: white;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 100;
  padding: 12px;
  border-radius: 3px;
}
  #filters input,
  #filters label,
  #filters .icon {
    vertical-align: middle;
    line-height: 28px;
  }
  
  #filters label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
  }
    #filters label .icon {
      height: 16px;
      width: 16px;
      padding: 0 0 0 2px;
    }
      #filters label .icon.pokestop,
      #filters label .icon.pokeball {
        width: 11px;
      }
      #filters label .icon.gym {
        width: 15px;
      }

#filters,
.leaflet-bar {
  box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
}

#populate-button {
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 1;
}

#highzoom {
  position: absolute;
  z-index: 1;
  top: 50%; right: 0; left: 0;
  width: 100%;
  height: 100px;
  margin-top: -50px;
  text-align: center;
  visibility: hidden;
}
  #highzoom h1 {
    font-weight: 500;
  }

.leaflet-bar button,
.leaflet-bar button:hover {
  width: 100%;
}